<%- include('./menu.ejs') %>

<div class="row mx-3">
    <h1 class="grow col container m-5 p-3 text-light text-center fw-bold bg-primary rounded shadow-lg ">
        استهلاك الماء للاستعمال المنزلي والصناعي
    </h1>
</div>
<div class="row mx-3">
    <h1 class="col container mx-5 px-3 text-secondary text-center fw-bold rounded shadow-lg ">
        بلدية تكوت</h1>
</div>