<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="UTF-16">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> تطبيقة استهلاك المياه</title>
    <link rel="stylesheet" href="/css/bootstrap.css">


    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="/js/bs.js"></script>
    <script type="text/javascript" src="/js/jq.js"></script>
    <script type="text/javascript" defer src="/js/script.js"></script>

</head>

<body>
    <%- include('../partials/header.ejs') %>
    <%- include('../partials/search.ejs') %>
    <%- body %>
    <%- include('../partials/footer.ejs') %>
</body>

</html>