<h1 class="col text-center text-primary fw-bold">برنامج حساب استهلاك المياه للاستعمال المنزلي والصناعي
</h1>
</div>
<div class="row">
    <h1 class="col text-center text-primary fw-bold"> خاص ببلدية تكوت
    </h1>
</div>