<div class="row mx-4 center">
    <a class="col-2"></a>

    <div class="layered-icon col-2 grow ">
        <a href="/new">
            <div class="row">
                <img class="logo" src="../img/watermeter-2.png" alt="print">
            </div>
            <div class="row">
                <a href="#" class="layer3-icon h2">إضافة عداد جديد</a>
            </div>
        </a>
    </div>

    <a class="col-1"></a>

    <div class="layered-icon col-2 grow ">
        <div class="row">
            <a href="/view-all">
                <img class="logo" src="../img/view-details-4.png" alt="قائمة المستهلكين">
            </a>
        </div>
        <div class="row">
            <a href="#" class="layer3-icon h1">القائمة</a>
        </div>
    </div>

    <a class="col-1"></a>

    <div class="layered-icon col-2 grow ">
        <div class="row">
        <a href="/print">
            <img class="logo" src="../img/print-icon-2.png" alt="print">
        </a>
        </div>
        <div class="row">
            <a href="#" class="layer3-icon h1">طباعة</a>
        </div>
    </div>
    <a class="col-2"></a>

</div>