<div class="container m-5 p-5 row justify-content-center">
    <div class="cotainer ">
        <h1 class="text-light text-center fw-bold grow bg-primary p-5 rounded border-dager">
            تسجيل الدخول
        </h1>

        <form action="/signin" method="POST">
            <div class="container m-1 p-3 row justify-content-center">
                <div class="m-2 col-3">
                    <label for="username">اسم المستخدم</label>
                    <input type="text" name="username">
                </div>
                <div class="container m-1 p-3 row justify-content-center">
                    <div class="m-1 col-3">
                        <label for="password">كلمة السر</label>
                        <input type="password" name="password">
                        <button class="btn btn-outline-primary rounded">دخول</button>
                    </div>
                </div>
            </div>

        </form>

    </div>
</div>