<div class="row">
    <h1 class="display-1 centered"> مستخدم جديد</h1>
</div>

<div class="row centered">
    <label class="h4" for="username ">اسم المستخدم</label>
</div>
<div class="row centered">
<div class="col-5">
</div>
<div class="col-2">
<form  class="row centered" action="/register" method="POST">
        <input class="row h3 centered" type="text" name="username">
        <label class="row h3" for="password">كلمة السر</label>
        <input class="row h3" type="password" name="password" id="password1">
        <label class="row h3" for="password">تأكيد كلمة السر</label>
        <input class="row h3" type="password" name="password" id="password2">
        <input class="row h3" type="submit">
</form>
</div>
</div>