

</div>
<div class="menu-bar">
<h1 class="display-1 centered"> مستخدم جديد 

    <form action="/register" method="POST">
        <div>
        <label for="username">اسم المستخدم</label>
        <input type="text" name="username">
        <br>
        <label for="password">كلمة السر</label>
        <input type="password" name="password" id="password1">
        <label for="password">تأكيد كلمة السر</label>
        <input type="password" name="password" id="password2">
        <input type="submit">
    </div>
    </form>
</h1>
