<div class="row">
    <a  href="/print-invoices" class="col-3 btn btn-outline-primary rounded-sm"> طبياعة الفواتير</a>
    <a href="/print-list" class="col-3 btn btn-outline-primary rounded-sm"> طبياعة القائمة</a>
</div>