<div class="row">
    <a  href="/printList" id="listAll" 
        class="col-3 btn btn-outline-success shadow-sm fw-bold">
        طباعة القائمة</a>
    <a  href="/printInvoices" 
        id="invoiceAll" 
        class="col-3 btn btn-outline-success shadow-sm fw-bold">
        طباعة الفواتير</a>
</div>