<div class="row">
    <h1 class="m-5 text-center">إدراج عداد جديد</h1>
    <div class="row m-3">
        <form action="/new" method="POST">
            <label  class="h3 col-1 mx-1" for="name">رقم المستهلك</label>
            <input type="text" name="no" class="h3 col-1 bg-secondary border rounded fw-bold text-light" id="name"
                placeholder="رقم المستهلك">
            <label for="name" class="h3 col-1">اسم المستهلك</label>
            <input type="text" name="name" class="h3 col-2 bg-secondary border rounded fw-bold text-light" id="name"
                placeholder="اسم المستهلك">


            <label for="address" class="h3 col-1">العنوان </label>
            <input type="text" name="address" class="h3 col-2 bg-secondary border rounded fw-bold text-light" id="address"
                placeholder="عنوان المستهلك">
            <label for="watermeters" class="h3 col-1">رقم العداد</label>
            <input type="text" class="h3 col-1 bg-secondary border rounded fw-bold text-light" name="watermeterId"
                id="watermeterId" placeholder="العداد">
            <input type="submit" class="h3 col-1" value="تسجيل"></input>
        </form>
    </div>
</div>